* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.app {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* ########################################################## */
/* ############### CABECERA SUPERIOR ######################## */
/* ########################################################## */
.app .headerPrimary {
    padding: 3px 10px 0px 10px;
    position: fixed;
    top: 0;
    z-index: 40;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.app .headerPrimary > nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.6);
}

.app .headerPrimary > nav button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

/* ########################################################## */
/* ############### BACKGROUND PAGINA ######################## */
/* ########################################################## */
.app main .background {
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: 10;
    background-image: url(fondoportal.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ########################################################## */
/* ################## CUERPO CENTRAL ######################## */
/* ########################################################## */
.app main {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 30;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app main .content{
    position: relative;
    z-index: 30;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .app main .content header{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
} */

/* 
.app main .content footer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
} */


